@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root{
  font-size: 16px;
}

#root{
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #F6F4F0;
}

body{
  background-color: #F6F4F0;
}

.main-header{
  height: 20vh;
  width: 100%;
  background-color: #4DA1A9;
}

.header-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-icon-container{
  height: 100%;
  width: auto;
}
.header-icon-container img{
  height: 100%;
  width: auto;
  margin-left: 10px;
}
.me-auto{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}

.me-auto a:visited{
  color: #F6F4F0;
}

.nav-link{
  color: #F6F4F0;
  margin-right: 20px;
}

.drop-menu{
  display: none;
}

.mast{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selfie-container{
  width: 40vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 30px;
}

.selfie-container img{
  width: 100%;
  height: auto;
}

.mast-para{
  width: 65vw;
  margin-top: 15px;
}

.mast-para p{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #2E5077;
  text-align: center;
  font-size: 2.5em;
  line-height: 1;
}

.mast-para p em{
  color: #79D7BE;
}


.about-container{
  width: 94%;
  background-color: #2E5077;
  margin: 20px 3vw 40px 3vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about-container > h1{
  margin-top: 20px;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  font-size: 4rem;
}

.about-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.profile-section{
  width: 45%;
}

.profile-section > h1{
  margin-top: 10px;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  margin-bottom: 5px;
  margin-left: 20px;
}

.profile-content{
  width: 100%;
  background-color: #4DA1A9;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "icon-link description";
}

.profile-img-link{
  grid-area: icon-link;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.profile-img-mask{
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.profile-img-link img{
  height: 100%;
  width: auto;
}

.logo-link-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-link-list ul{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.logo-link-list ul li{
  width: 25%;
  aspect-ratio: 1/1;
  margin-right: 10px;
  margin-left: 10px;
}

.logo-link-list ul li img{
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-list-container{
  grid-area: description;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.profile-list-container h2{
  max-width: 100%;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 2.5rem;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
}

.content-list-container{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0;
}

.content-list-container div{
  width: 100%;
}

.content-list-container div h1{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
  font-size: 2rem;
  width: 100%;
}

.content-list-container div p{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
  font-size: 1.5rem;
  padding-left: 20px;
  overflow-wrap: break-word;
}

.education-section{
  width: 45%;
}

.education-section > h1{
  margin-top: 10px;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  margin-bottom: 5px;
  margin-left: 20px;
}

.education-content{
  width: 100%;
  background-color: #4DA1A9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.school-info{
  height: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: 
    "logo school-info"
  ;
  margin-bottom: 20px;
}

.school-icon{
  grid-area: logo;
  width: 100%;
  height: auto;
  display: flex;
  aspect-ratio: 1/1;
  padding: 30px;
}

.school-icon img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;

}

.school-description{
  grid-area: school-info;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.school-name, .school-location{
  max-width: 100%;
  padding-left: 5px;
  font-size: 2.5rem;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
  line-height: 25px;
}

.school-location{
  margin-bottom: 20px;
}

.school-major, .school-current{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
  font-size: 1.5rem;
  line-height: 20px;
}

.school-description ul li{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #232B2B;
  font-size: 1.5rem;
  line-height: 30px;
}

.project-container{
  width: 94%;
  background-color: #2E5077;
  margin: 20px 3vw 40px 3vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container > h1{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  font-size: 4em;
}

.card-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.card-frame{
  width: 280px;
  height: 400px;
  margin-top: 30px;
  background-color: #79D7BE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.card-frame:hover{
  transform: scale(1.1);
}

.card-img{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  aspect-ratio: 10/6;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-info{
  width: 100%;
}

a{
  text-decoration: none;
}

.card-info h1{
  color: #232B2B;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
}

.card-info p{
  color: #232B2B;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.6em;
}

.contact-section {
  width: 100%;
  background-color: #4DA1A9;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h1{
  width: 100%;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  font-size: 4em;
  text-align: center;
}

.contact-content{
  width: 30%;
}

.input-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.input-box label{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  font-size: 2em;
  margin-left: 10px;
}

.input-field {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #F6F4F0;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #2E5077;
  text-indent: 10px;
}

.input-field::placeholder{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #2E5077;
  opacity: 0.8;
}

.message-field{
  resize: none;
  border-radius: 10px;
  border: none;
  background-color: #F6F4F0;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #2E5077;
  text-indent: 10px;
}

.message-field::placeholder{
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #2E5077;
  opacity: 0.8;
}

.contact-content form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-submit-btn{
  background-color: #F6F4F0;
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #2E5077;
  transition: 0.5s ease-in-out;
}

.contact-submit-btn:hover{
  background-color: #2E5077;
  color: #F6F4F0;
}

@media only screen and (max-width: 820px){
  .profile-content{
    display: flex;
    flex-direction: column;
  }

  .profile-img-link{
    flex-direction: row;
  }

  .profile-img-mask{
    width: 40%;
    margin: 10px;
  }

  .profile-list-container div{
    margin-left: 10px;
  }

  .logo-link-list{
    width: 60%;
  }
}

@media only screen and (max-width: 768px){
  #root{
    width: 100vw;
  }

  .me-auto{
    display: none;
  }

  .navbar-expand{
    justify-content: space-between;
  }



  .drop-menu{
    display: block;
  }

  #dropdown-basic{
    background-color: #2E5077;
    border: none;
  }

  .mast-para p{
    font-size: 2em;
  }

  .about-content{
    flex-direction: column;
    align-items: center;
  }

  .profile-section{
    width: 90%;
    margin-bottom: 30px;
  }

  .education-section{
    width: 90%;
    margin-bottom: 30px;
  }

  .contact-content{
    width: 60%;
  }


}


